*.o
aux/*:
aux
*.cache
*.log
*.a
*.vscode
example/call-heuristics
res
*.dSYM
.DS_Store
lib/heuristics.a
.idea
main
test/cluster_unittest
test/distributeProcessors_unittest
output/*
output-folders/*
output*/